<mat-toolbar class="container-fluid">
    <a class="navbar-brand" routerLink=''>
        <h3 id="PageTitle">FaceYourBookSpace</h3>
    </a>

    <span style=" flex: 1 1 auto;"></span>
    <button mat-button type="button" *ngIf='loggedin' [matMenuTriggerFor]="menu">
        <mat-icon>reorder</mat-icon>
    </button>
    <mat-menu #menu>
        <button mat-menu-item routerLink='account'>Account</button>
        <button mat-menu-item routerLink='feed'>Feed</button>
        <button mat-menu-item (click)='Logout()' style="color: white;
            background-color: #f44336;">Logout</button>
    </mat-menu>
</mat-toolbar>