<div class="col-6 mb-2 container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar #ProfilePic class="bg-light"
        [ngStyle] = picStyles>
      </div>
      <mat-card-title>{{post.friends[0]?.firstName}}</mat-card-title>
      <mat-card-subtitle>{{post.friends[0]?.username}}</mat-card-subtitle>
    </mat-card-header>
    <!--Add img tag here/create specifice img post component-->
    <mat-card-content>
      <P>{{post?.description}}</P>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="Like()" [disabled]='disableLike'>
        <mat-icon>thumb_up</mat-icon>
      </button>{{likes}}
    </mat-card-actions>
  </mat-card>
</div>